@charset "utf-8";

body{
    background-color: rgba(119, 241, 241, 0.822);
    font: italic normal 17px Arial;
}
h1{
    color: rgb(73, 197, 197);

}
h2{
    color: rgb(73, 197, 197);
}
p{
    text-indent: 30px;
    text-align: justify;
}