*{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    font-style: italic;
    text-decoration: underline;
    background-image: linear-gradient(to right,black,silver,white);
}